<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{message}}</h1>
    <form action='/create'>
        <button type="submit">Create a new record</button>
    </form>
    <br>
    <form action='/view'>
        <button type="submit">View All Records</button>
    </form>
    <br>
    <form action='/'>
        <button type="submit">Homepage</button>
    </form>
</body>
</html>